.content {
	width: 85%;
	margin: auto;
}

.price {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.specialOffer {
	color: rgb(193, 2, 2);
	margin-bottom: 0;
}

.includedServices {
	color: rgb(1, 82, 1);
	margin-bottom: 2rem;
}

.code {
	margin-top: 1rem;
}

@media screen and (min-width: 768px) {
	.content {
		width: 70%;
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		width: 50%;
	}
}
