.image {
	margin-bottom: 1rem;
}

.title {
	margin-bottom: 0;
}

.price {
	font-weight: 600;
}

@media screen and (max-width: 450px) {
	.image {
		text-align: center;
	}
	.title,
	.price {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
