$gray: #a0a0a0;

.content {
	width: 85%;
	margin: auto;
	ul {
		padding-left: 0;
	}
}

.heading {
	border-top: solid 1px $gray;
	padding: 1.5rem 0 1rem;
	margin-bottom: 0;
}

.list {
	list-style: none;
}

.container {
	display: flex;
	justify-content: space-between;
	border-top: solid 1px $gray;
	font-weight: 300;
	padding-top: 1em;
}

@media screen and (min-width: 768px) {
	.content {
		width: 70%;
	}
}

@media only screen and (min-width: 1024px) {
	.content {
		width: 50%;
	}
}
