.carousel {
	position: relative;
	max-width: 350px;
	max-height: 525px;
	margin: 0 auto 1rem;
}

.leftArrow {
	position: absolute;
	top: 50%;
	left: -60px;
	font-size: 3rem;
	z-index: 10;
	cursor: pointer;
	fill: #686868;
	&:active {
		fill: #000;
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: 2px solid #005ecc;
		border-radius: 3px;
	}
}

.rightArrow {
	position: absolute;
	top: 50%;
	right: -60px;
	font-size: 3rem;
	z-index: 10;
	cursor: pointer;
	fill: #686868;
	&:active {
		fill: #000;
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: 2px solid #005ecc;
		border-radius: 3px;
	}
}

@media screen and (max-width: 450px) {
	.carousel {
		max-width: 260px;
		max-height: 390px;
	}
	.leftArrow {
		left: -35px;
		font-size: 2rem;
	}
	.rightArrow {
		right: -35px;
		font-size: 2rem;
	}
}
