html,
body {
	background-color: #f7f7f7;
	padding: 0;
	margin: 0;
	font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium,
		Avenir, Corbel, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

h1 {
	color: #141414;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 1.56px;
	margin: 0;
	padding: 2rem;
}

h2 {
	color: #141414;
	margin-top: 0;
	font-size: 22px;
	font-weight: 200;
	line-height: 30px;
	letter-spacing: initial;
	text-transform: none;
}

h3 {
	color: #141414;
	margin-top: 0;
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 1.07px;
	line-height: 20px;
}

h4 {
	color: #141414;
	margin-top: 0;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
}

h5 {
	color: #141414;
	margin-top: 0;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
}

h6 {
	color: #141414;
	margin-top: 0;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
}

p {
	color: #141414;
	margin-top: 0;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 20px;
}

@media only screen and (max-width: 750px) {
	h1 {
		text-align: center;
	}
}

@media only screen and (min-width: 750px) {
	h1 {
		font-size: 20px;
		text-align: center;
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 30px;
		letter-spacing: 2.81px;
		line-height: 38px;
		text-align: center;
	}
}

@font-face {
	font-family: "GillSansforJL";
	src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot");
	src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot?#iefix")
			format("embedded-opentype"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff2")
			format("woff2"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff")
			format("woff"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.ttf")
			format("truetype"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.svg#jlicons")
			format("svg");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GillSansforJL";
	src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot");
	src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot?#iefix")
			format("embedded-opentype"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff2")
			format("woff2"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff")
			format("woff"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.ttf")
			format("truetype"),
		url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.svg#jlicons")
			format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
