$gray: #686868;

.heading {
	background-color: #ededed;
	color: $gray;
	font-weight: lighter;
	letter-spacing: 1px;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.content {
	display: grid;
	color: black;
	font-weight: 200;
	line-height: 20px;
	font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica,
		sans-serif;
}

.link {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 1rem 2rem;
	border-top: 0.5px solid $gray;
	border-right: 0.5px solid $gray;
	&:nth-child(4n) {
		border-right: none;
	}
}

.price {
	font-weight: bold;
}

@media screen and (min-width: 450px) {
	.content {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 768px) {
	.content {
		grid-template-columns: repeat(4, 1fr);
	}
}
